<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>68111494856-0l5bghp1qiv9ooag63dhdaoq338d8j4d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.68111494856-0l5bghp1qiv9ooag63dhdaoq338d8j4d</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>68111494856-oln9r5rkn1e6qj44do0keaue5vjf33b0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDJwUMBcyhhblKdqFtWZLVPQcYUBmdwl8E</string>
	<key>GCM_SENDER_ID</key>
	<string>68111494856</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.englishLearningApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>english-learning-app-24953</string>
	<key>STORAGE_BUCKET</key>
	<string>english-learning-app-24953.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:68111494856:ios:716f548bfea2fe6256fffd</string>
</dict>
</plist>